<ul class="destination-list">
  {{#each model as |destination|}}
    <li>Hello, {{destination.point}}!</li>
  {{/each}}
</ul>
<button {{action "sendPost"}}>send post</button>
    <div class="log"></div>
